/* You can add global styles to this file, and also import other style files */


.rules-group-container{
    width: 100%;
}

.rule-header{
    margin-bottom: 8px;
}


hr{
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:#cacaca;
    height: 1px;
}

.fa{
    vertical-align:middle !important;
}